* {
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 1.4rem;
    height: auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 60px;
    width: 170px;
  }
  
  header nav ul {
    display: flex;
    gap: 15px;
    cursor: pointer;
  }
  
  header nav ul li {
    width: 120px;
    display: grid;
    place-content: center;
    height: 40px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    color: #2D2464;
    font-weight: 600;
  }
  
  header .dropdown {
    overflow-y: hidden;
    height: 0;
    text-align: center;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  header .dropdown.open {
    height: 180px;
  }
  
  header .dropdown ul li {
    padding: 0.6rem;
  }
  
  header .dropdown ul li a {
    text-decoration: none;
    color: black;
  }
  
  .rotate1 {
    animation: rotateIconFront 0.2s ease-in-out;
  }
  
  .rotate2 {
    animation: rotateIconBack 0.2s ease-in-out;
  }
  header .icons {
    display: none;
  }
  
  @media (max-width: 980px) {
    header .icons {
      display: block;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 0.6rem;
    }
  }
  
  @keyframes rotateIconFront {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(90deg);
    }
  }
  
  @keyframes rotateIconBack {
    from {
      transform: rotate(120deg);
    }
  
    to {
      transform: rotate(0deg);
    }
  }
  
  @media (max-width: 980px) {
    nav {
      display: none;
    }
  
    header .icons {
      display: block;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 0.6rem;
    }
  
    header .dropdown {
      display: block;
    }
  }
  