<section>
    <div class="container">
        <div class="footer-container">
            <div class="footer-section">
                <img src="assets\logo-mini.png" alt="">
                <div class="social">
                    <a href="https://www.youtube.com/@W3CloudHub"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.instagram.com/s3cloudhub/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/S3CloudHub"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/s3cloudhub/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h2>Courses</h2>
                <a href="https://www.youtube.com/@W3CloudHub">Youtube</a>
                <a href="https://www.udemy.com/user/vijay-251/">Udemy</a>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Blogs</h2>
                <a href="">Blogs</a>
            </div>
            <div class="footer-section">
                <h2>Contact</h2>
                <a href="mailto:s3cloudhub@gmail.com">s3cloudhub@gmail.com</a>
                <a href="tel:+91 81049 97345">+91 81049 97345</a>
            </div>
        </div>
    </div>
</section>
<div class="copyright-section">
    <p>Copyright © 2021 S3CloudHub, Ltd. All Rights Reserved.</p>
</div>