<section>
    <div class="heading">
        <h2>Our <span id="red">Course</span></h2>
        <h3>Empower Your <span id="red">Skills </span>With Our <span id="blue">Courses</span></h3>
    </div>
    <div class="topics">
        <a routerLink="youtube" routerLinkActive="active">
            <h3>Youtube</h3>
        </a>
        <a routerLink="udemy" routerLinkActive="active">
            <h3>Udemy</h3>
        </a>
    </div>
</section>
<div class="courses">
    <router-outlet></router-outlet>
</div>