<section class="top">
    <div class="box">
        <h2>S3CloudHub Family</h2>
        <div class="team">
            <div class="left">
                <img src="assets\TeamPic.png" alt="Team Pic ">
            </div>
            <div class="right">
                <h2>Our Team: <br> Bringing Expertise and Passion Together</h2>
                <p> At S3CloudHub, we take pride in our talented and diverse team of professionals
                    who are passionate about delivering exceptional results.Get to know the faces behind our success and
                    discover the individuals who make S3CloudHub a trusted partner for all your needs. Together, we
                    strive to exceed expectations and make a positive
                    impact in everything we do.</p>
            </div>
        </div>
        <div class="border"></div>
    </div>
</section>
<section class="bottom">
    <div class="box">
        <h2>Meet Our <span id="red">Team</span></h2>
        <h3>The Faces Behind Our <span id="red">Success</span></h3>
        <div class="imgcontainer">
            <div class="imgbox">
                <div class="img">
                    <img src="assets\sampleme.jpg" alt="">
                </div>
                <h2>Sample Name</h2>
                <h3>Designation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta.</p>
            </div>
            <div class="imgbox">
                <div class="img"><img src="assets\t2.jpg" alt=""></div>
                <h2>Sample Name</h2>
                <h3>Designation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta.</p>

            </div>
            <div class="imgbox">
                <div class="img"><img src="assets\t3.jpg" alt=""></div>
                <h2>Sample Name</h2>
                <h3>Designation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta.</p>

            </div>
            <div class="imgbox">
                <div class="img"><img src="assets\t4.jpg" alt=""></div>
                <h2>Sample Name</h2>
                <h3>Designation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta.</p>

            </div>
        </div>
    </div>
</section>
