section{
    margin-top: 1rem;
    /* background-color:aqua; */
    background: linear-gradient(to bottom , #ffff ,#c6f8ff8f,#c6f8ff);

    height: 100vh;
    /* margin: 1rem; */
}
section h2 {
    text-align: center;
    font-size: 38px;
    color: #2D2464;
}

section .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto
}

section .container .box1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height: 90vh;
}
section .container .box1  h3{
    font-size: 15px;
    font-weight: 500;
}

section .container .box1 .img img {
    height: 250px;
    width: 400px;
}

section .container .box1 .contactinfo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;

}

section .container .box1 .contactinfo .mail,
.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 170px;
    width: 250px
}

section .container .box1 .contactinfo .mail a {
    font-size: 18px;
    color: #2D2464;
}

section .container .box1 .contactinfo .call p {
    font-size: 18px;
    color: #2D2464;
}

section .container .box1 .contactinfo .mail img {
    height: 60px;
    width: 90px;
}

section .container .box1 .contactinfo .call img {
    height: 80px;
    width: 110px;
}

section .container .box1 p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;

}

section .container .box1 .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 70%;

}

section .container .box1 .social a {
    font-size: 30px;
    color: #2D2464;
}

section .container .box2 {
    /* background-color: aqua; */
    width: auto;
    height: 70vh;
}

section .container .box2 .bgsection form {
    /* background:linear-gradient(to bottom right,#E490EF,#FFA692,#FFCE6D); */
    background: linear-gradient(to bottom right, #c6f8ff70, #595cff70);

    width: 100%;
    height: 70vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section .container .box2 .bgsection form h1{
    font-size: 38px;
    font-weight: 500;
    color:#2D2464;
}
section .container .box2 .bgsection form .input input {
    width: 550px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    color: #2D2464;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
section .container .box2 .bgsection form textarea{
    width: 550px;
    background-color: transparent;
    color: #2D2464;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid black;
}


section .container .box2 .bgsection form .input input::placeholder {
    color: #2d24648f;
}
section .container .box2 .bgsection form textarea::placeholder {
    color: #2d24648f;
}
section .container .box2 .bgsection .btn button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    /* background-color: #7D9AFF; */
    background:linear-gradient(to bottom right,#7D9AFF,#E490EF);

    color: aliceblue;
    margin: 20px;
    box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1200px){
    section h2 {
        font-size: 28px;
    }
    section .container .box1 .img img {
        height: 160px;
        width: 230px;
    }
    section .container .box1 .contactinfo .mail a  {
        font-size: 15px;
    }
    section .container .box1 .contactinfo  .call p {
        font-size: 15px;
    }
    
    section .container .box1 .contactinfo .mail img {
        height: 40px;
        width: 70px;
    }
    section .container .box2 .bgsection form h1{
        font-size: 28px;
        font-weight: 500;
        color:#2D2464;
    }
    section .container .box1 .contactinfo .call img {
        height: 60px;
        width: 90px;
    }
    section .container .box1 p {
        font-size: 18px;
        margin-top: 12px;
    
    }
    section .container .box1 .social a {
        font-size: 24px;
    }


    section .container .box2 {
        /* background-color: aqua; */
        width: auto;
        height: 70vh;
    }
    
    section .container .box2 .bgsection form {
        /* background:linear-gradient(to bottom right,#E490EF,#FFA692,#FFCE6D); */
        background: linear-gradient(to bottom right, #c6f8ff70, #595cff70);
    
        width: 100%;
        height: 70vh;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    section .container .box2 .bgsection form .input input {
        width: 450px;
        height: 60px;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        color: #2D2464;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }
    section .container .box2 .bgsection form textarea{
        width: 450px;
        
    }
    section .container .box2 .bgsection form .input input::placeholder {
        color: #2d24648f;
    }
    
    section .container .box2 .bgsection .btn button {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        /* background-color: #7D9AFF; */
        background:linear-gradient(to bottom right,#7D9AFF,#E490EF);
    
        color: aliceblue;
        margin: 20px;
        box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 985px){
    section{
        height: auto;
    }
    section .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* height: 80vh; */
        height: auto;
    }
    section .container .box1 {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background-color: aqua; */
        height: 80vh;
        /* height: auto; */
    }
    

    section .container .box2 {
        /* background-color: aqua; */
        width: 80%;
        height: 70vh;
    }
    
    section .container .box2 .bgsection form {
        /* background:linear-gradient(to bottom right,#E490EF,#FFA692,#FFCE6D); */
        background: linear-gradient(to bottom right, #c6f8ff70, #595cff70);
    
        width: 100%;
        height: 70vh;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    section .container .box2 .bgsection form .input input {
        width: 450px;
        height: 60px;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        color: #2D2464;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }
    
    section .container .box2 .bgsection form .input input::placeholder {
        color: #2d24648f;
    }
    
    section .container .box2 .bgsection .btn button {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        /* background-color: #7D9AFF; */
        background:linear-gradient(to bottom right,#7D9AFF,#E490EF);
    
        color: aliceblue;
        margin: 20px;
        box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 590px){
    

    section .container .box2 {
        /* background-color: aqua; */
        width: 90%;
        height: 70vh;
    }
    
    section .container .box2 .bgsection form {
        /* background:linear-gradient(to bottom right,#E490EF,#FFA692,#FFCE6D); */
        background: linear-gradient(to bottom right, #c6f8ff70, #595cff70);
        width: 100%;
        height: 70vh;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    section .container .box2 .bgsection form .input input {
        width: 380px;
        height: 60px;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        color: #2D2464;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }
    section .container .box2 .bgsection form textarea{
        width: 380px;
        
    }
    section .container .box2 .bgsection form .input input::placeholder {
        color: #2d24648f;
    }
    
    section .container .box2 .bgsection .btn button {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        /* background-color: #7D9AFF; */
        background:linear-gradient(to bottom right,#7D9AFF,#E490EF);
    
        color: aliceblue;
        margin: 20px;
        box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 470px){
    section h2 {
        text-align: center;
        font-size: 25px;
        color: #2D2464;
    }
    section .container .box1 {
        height: auto;
    }
    section .container .box2 {
        /* background-color: aqua; */
        width: 90%;
        height: 70vh;
    }
    
    section .container .box2 .bgsection form {
        /* background:linear-gradient(to bottom right,#E490EF,#FFA692,#FFCE6D); */
        background: linear-gradient(to bottom right, #c6f8ff70, #595cff70);
        width: 100%;
        height: 70vh;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    section .container .box2 .bgsection form .input input {
        width: 280px;
        height: 60px;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        color: #2D2464;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }
    section .container .box2 .bgsection form textarea{
        width: 280px;
        
    }
    section .container .box2 .bgsection form .input input::placeholder {
        color: #2d24648f;
    }
    
    section .container .box2 .bgsection .btn button {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        /* background-color: #7D9AFF; */
        background:linear-gradient(to bottom right,#7D9AFF,#E490EF);
    
        color: aliceblue;
        margin: 20px;
        box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.4);
    }

    section .container .box1 .contactinfo {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    
    }
    
}