<section>
    <h2>Get In Touch With S3CloudHub </h2>
    <div class="container">
        <div class="box1">
            <div class="img">
                <img src="assets\contact_illus.png" alt="">
            </div>
            <div class="contactinfo">
                <div class="mail">
                    <img src="assets\mail_illus.png" alt=""><br>
                    <p><a href="">s3cloudhub@gmail.com</a></p>
                </div>
                <div class="call">
                    <img src="assets\callillus.png" alt="">
                    <p>+91 81049 97345</p>
                </div>
            </div>
            <p>Follow Us on Our <span id="red">Socials</span></p>
            <div class="social">
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            <h3>Copyright © 2021 S3CloudHub, Ltd. All Rights Reserved.</h3>
        </div>
        <div class="box2">
            <div class="bgsection">
                <form>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Name : ">
                    </div>
                    <div class="input">
                        <input type="email" name="" id="" placeholder="Email : ">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Website URL : ">
                    </div>
                    <div class="btn">
                        <button>Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>