<section>
    <div class="home">
        <div class="textslider">
            <div class="content">
                <h3>Welcome to S3CloudHub</h3>
                <h2>Discover Your<br>Untapped <span>Potential</span></h2>
                <p>At S3CloudHub, we believe that students set themselves up for the future by harnessing the power of
                    Digital education
                </p>
            </div>
            <h1>Experience Our Expertise In : <span #typedText class="typed-text" id="one"></span></h1>
        </div>
        <!-- <div class="image">
            <div class="imgcontainer">
                <img src="assets\office2.jpg" alt="Office Image">
            </div>
        </div> -->
        <div class="btn">
            <a routerLink="contactus"><button>Contact Us</button></a>
        </div>
    </div>

</section>

<section class="aboutus" id="aboutus">
    <div class="container">
        <div class="img">
            <img src="assets\NewTeam1.png" alt="Office Img">
        </div>
        <div class="content">
            <h2>About S3CloudHub</h2>
            <p>S3CloudHub is a group of clever people dedicated to the task of building new innovations for the future.
                Our
                creative team allows businesses to compile their team on the Coaching Institute, Web, Mobile, DevOps, AI
                /
                ML, or UI / UX development needs.</p>
            <div class="counts">
                <div class="one">
                    <i class="fa-solid fa-cloud"></i>
                    <h1>14</h1>
                    <h3>Cloud Project</h3>
                </div>
                <div class="one">
                    <i class="fa-solid fa-rocket"></i>
                    <h1>9</h1>
                    <h3>Websites</h3>
                </div>
                <div class="one">
                    <i class="fa-solid fa-users-gear"></i>
                    <h1>27</h1>
                    <h3>DevOps Project</h3>
                </div>
            </div>
            <!-- <div class="btn">
                    <a routerLink="projects"><button>Know More</button></a>
                </div> -->
        </div>

    </div>

</section>
<section class="projects">
    <app-services></app-services>
</section>
<section class="partner">
    <h1 >Our Partnered Companies</h1>
    <div class="containerbox">
        <div class="box">
            <img src="assets\unc.png" alt="Company Logo">
        </div>
        <div class="box">
            <img src="assets\ikamate.png" alt="Company Logo">
        </div>
        <div class="box">
            <img src="" alt="Company Logo">
        </div>
    </div>
</section>